#########
# notice: please rename this file (nibiru.ini.sample -> nibiru.ini)
#########

[nibiru-3000]
log_file = unsigned_check.log

my_address = <your address>
# Get your own address with the following command
# <curl -s localhost:26657/status | jq -r .result.validator_info.address>

discord_url = <discord webhook>
record_file = prv_height.txt
